.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    animation-name: fadein;
    animation-duration: .5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}