header {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.session-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}