.front-main-section {
    position: relative;
    color: white;
}

.front-main-photo {
    filter: brightness(.5) contrast(.8);
    max-width: 100vw;
    height: auto;
}

.content {
    width: max-content;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 72px;
    font-family: 'Literata', serif;
    text-shadow: 4px 4px 4px black;
    margin: 18px;
}

.text {
    font-size: 22px;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2.5px black;
    margin: 5px;
}