.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.nav-button {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    cursor: pointer;
}

.session-button {
    color: black;
    transition: color .2s ease-in;
    height: 80%;
    width: 100px;
}

.session-button:hover {
    background: #e3e3e3;
}

.demo-button {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    filter: drop-shadow(2px 2px 2.5px black);
    margin: 20px;
    letter-spacing: 3px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 12px 18px;
    transition: background-color .2s ease-out;
}

.demo-button:hover {
    background-color: rgba(255, 255, 255, .25);
}

.demo-button:active {
    transform: scale(.99);
}

.logo {
    height: 50px;
    width: auto;
}

.text-logo {
    font-size: 24px;
}

#byline {
    font-size: 18px;
    text-shadow: none;
}