.user-box {
    width: 450px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

.user-form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin: 25px 0;
}

.user-form-input {
    width: 250px;
    height: 25px;
    padding: 5px;
    font: 16px 'Roboto', sans-serif;
}

.form-button {
    width: 265px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #939393;
    font: 16px 'Roboto', sans-serif;
    background-color: #454545;
    transition: background-color .1s linear;
    color: white;
    margin-top: 20px;
}

.form-button:hover {
    background-color: #939393;
}