<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Narrem</title>
    {% load static %}
    <script>
        window.logo = "{% static 'frontend/media/logo.png' %}";
        window.copyPhoto1 = "{% static 'frontend/media/copy-photo1.png' %}";
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,700|Literata&display=swap">
    <link rel="stylesheet" href="{% static 'frontend/css/application.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/shared.css' %}">
</head>
<body>
    <main id="root">
        fool, you've activated my trap card
    </main>
</body>
<script src="{% static 'frontend/bundle.js' %}"></script>
</html>